/*Footer*/
footer{
    background-color: #170026;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    margin: 0px -8px -8px;
    padding: 1px 0px;
}
  
footer h1{font-weight: 300; font-size: 22px; margin-bottom: 0px;}
footer p{font-weight: 200; margin-top: 0px; margin-bottom: 0px;}
footer img{width: 25px; margin: 0px;}